.stepper {
  & :global(.MuiStepLabel-iconContainer) {
    padding: 0;
  }

  & :global(.MuiStepConnector-root) {
    width: 4rem;

    & :global(.MuiStepConnector-line) {
      border-top-width: 0.25rem;
      border-radius: 0.25rem;
    }
  }

  & :global(.MuiStepConnector-root.Mui-active) {
    & :global(.MuiStepConnector-line) {
      border-color: var(--mui-palette-primary-main);
    }
  }
}

.stepperContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.stepLabelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
