.signUpPage {
  display: flex;
  justify-content: center;

  align-items: flex-start;

  min-height: 100vh;
  padding: 32px 16px;

  .signUpContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    max-width: 448px;
    width: 100%;
  }
}
